<div ng-repeat="name in ProfDispCtrl.profNames">
    <button ng-click="ProfDispCtrl.open(name.idStaff)">{{name.staffName}}</button>
</div>

<script type="text/ng-template" id="profModal.html">
    <div class="modal-body">

        <div>
            <img ng-src="{{staff.imageAsset}}"/>
        </div>

        <div>
            <!--prof info here-->
        </div>

        <div>
            <!--map here-->
        </div>

        {{staff.staffName}}<br/>
        {{staff.staffOffice}}<br/>
        {{staff.staffEmail}}<br/>
        {{staff.staffTitle}}<br/>
        {{staff.staffPhoneNumber}}<br/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<style>
    .modal-body, .modal-footer{
        background-color: #04172E;
    }
</style>