<div>
    <h2>Enter Information</h2>

    <form>
        <p><label>Name: </label><input type="text" ng-model="adAddCtrl.prof.staffName"/></p>
        <p><label>Department: </label>{{adAddCtrl.dept}}</p>
        <p><label>Email: </label><input type="text" ng-model="adAddCtrl.prof.staffEmail"/></p>
        <p><label>Title: </label><input type="text" ng-model="adAddCtrl.prof.staffTitle"/></p>
        <p><label>Office Number: </label><input type="text" ng-model="adAddCtrl.prof.staffOffice"/></p>
        <p><label>Phone: </label><input type="text" ng-model="adAddCtrl.prof.staffPhoneNumber"/></p>
        <p><button ng-click="adAddCtrl.addProf(adAddCtrl.prof)">Add</button></p>
    </form>
</div>

<div>
    <form>
        <p><label>Name: </label><input type="text" ng-model="adAddCtrl.room.roomName"/></p>
        <p><label>Number: </label><input type="text" ng-model="adAddCtrl.room.roomNumber"/></p>
        <p><label>Department: </label>{{adAddCtrl.dept}}</p>
        <p><button ng-click="adAddCtrl.addRoom(adAddCtrl.room)">Add</button></p>
    </form>
</div>

<style>
    h2{
        margin: 0 auto;
        text-align: center;
    }

</style>